/.venv
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
/.pytest_cache/
/logs/
*.log
*.sqlite3
data/raw/
data/processed/
data/splits/
artifacts/
embeddings/*
models/*
results/*
*.ipynb_checkpoints
